{:deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           org.scicloj/kindly  {:local/root "../kindly"
                                #_:mvn/version #_"4-beta8"}}
 :aliases {:dev   {:extra-deps  {org.scicloj/clay   {:mvn/version "2-alpha87"}
                                 scicloj/tablecloth {:mvn/version "7.021"}}
                   :extra-paths ["test" "notebooks"]}
           ;; Run tests with `clojure -T:build`
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           ;; Run tests with `clojure -M:test -m cognitect.test-runner`
           :test  {:extra-paths ["test"]
                   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}}}}}
